h1 {
  margin-left: 25%;
}

li {
  margin-left: 25%;
}

.btn {
  width:100%;
}

.btn:focus {
  box-shadow: none;
}

.matchFound {
  visibility: hidden;
}

.matchList {
  display: none;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.row {
  margin-left: 25%;
  margin-right: 25%;
}
